.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-adder{
  width:45px;
  height: 45px;
  fill: rgb(26, 118, 194);
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom:10%;
  right: 10%;
  z-index:1;
}
.contact-adder:hover{
  fill: rgb(22, 106, 175);
}
.contact-back{
  width:45px;
  height: 45px;
  fill: #de0a26;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom:10%;
  right: 10%;
  z-index:1;
  transform: rotate(90deg);
}
.contact {
  border-radius: 5px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 460px;
  min-height: 500px;
  max-height: 500px;
  padding: 20px 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 0;
}

.contact-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00b4d8;
  color:#00b4d8;
  font-family: Snell Roundhand, cursive;
}
.search-section{
  display:flex;
  align-items: center;

}
.search{
  border: none;
  border-bottom: 2px solid #00b4d8;
  width:150px;  
  padding:5px;
  font-family: Snell Roundhand, cursive;
}
.search:focus{
  outline: none;
  border-bottom: 2px solid #00b4d8;
}
